
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
   
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
img {
    display: block;
}

.contyner {
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
}

.conteyner-narrow {
    width: 1086px;
}
    /*      ---------HEADER----------       */ 
.header {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e7e9fc;
    
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteyner-header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    margin-right: 76px;
    

}
.logo-studio {
    color: #2E2F42;
    text-align: center
}

.header-title-main {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 200px;
    margin-top: 150px;
    max-width: 484;
    margin-bottom: 34px;
}

.header-menu-list {
    letter-spacing: 0.02em;
    color: #404bbf;
    display: flex;

}
.header-menu-item {
    margin-right: 40px;
    display: flex;
    
}

.header-menu-link {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #2E2F42;
    
}
.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}

.header-contacts {
    font-style: normal;
    display: flex;
}
.header-contacts-list {
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
}
.header-contacts-item {
    display: flex;
    
}
.header-contacts-link {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 20px;
    flex-direction: row-reverse;
}

.header-contacts-link:hover {
    color: #404bbf;
}
.header-contacts-link:focus {
    color: #404bbf;
}

.hero {
    
    background: #2E2F42;
    padding: 40px  16px ;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    cursor: pointer;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;

    border: none;
}
.hero-btn:hover {
    background: #404BBF;
}
.hero-btn:focus {
    background: #404BBF;
}

.img-people {
    display: block;
    margin: 0 auto;}

    /*      ---------FEATURES----------       */
.features {
    margin-top: 50px;
    margin-bottom: 50px;
}
.features-subtitle-head {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 50px;
    margin-bottom: 50px;
}
.features-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 50px;
    margin-bottom: 20px;
}
.img-services {
    display: block;
    margin: 0 auto;
}
    /*      ---------TEAM----------       */
.team {
    background-color: #F4F4FD 
}
.subtitle-head {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}
    /*      ---------SERVICES----------       */
.team-item {
    background-color: #FFFFFF;
}

.team-name-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-work-descrition {
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.service-portfolio {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    display: flex;
    
}
.service-portfolio-title {
    font-size: 36px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.service-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.service-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}
.service-feature {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;    
}
    /*      ---------FOOTER----------       */
.selection-footer {
    background-color: #2e2f42;
    padding: 60px 30px;
}
.footer-log-head {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin: 2px;
}
.footer-text {
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 20px;
}
.logo-studio-footer {
    color: #f4f4fd;
}